{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="card text-center mb-3" style="width: 650px;margin-left:400px;margin-top:150px;">
  <div class="card-body">
    <h5 class="card-title" style="color:brown"><u>ACCOUNT DELETE</u></h5><br>
   <h6 style="color:green;">Please enter your email address to receive a One-Time Password (OTP) for account deletion.
        An OTP will be sent to your registered email.
        After you receive the OTP, enter it to verify and confirm your account deletion.</h6><br>
      <div>
          <form method="post" action="{% url 'account_otp' user_id=user.id %}">
              {% csrf_token %}
              <input type="email" style="border: 1px solid grey;border-radius:5px;" name="email" placeholder="Email : (abc@mail.com)"><br><br>
              <button type="submit" class="btn btn-outline-dark">Send OTP</button>
          </form>
      </div>
  </div>
</div>

<style>
    .confirmation{
    color:grey;
    font-size:14px;
    }
</style>
{% endblock %}