{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="card text-center mb-3" style="width: 650px;margin-left:400px;margin-top:150px;">
  <div class="card-body">
    <h5 class="card-title" style="color:red"><u>CONFIRM PASSWORD</u></h5><br>
    <p style="color:red">Enter the new password and confirm it</p>
    <p style="color:red">password needs at least 8 characters</p>
      <div>
          <form method="post" action="{% url 'reset_password' username=user.username %}" onsubmit="return ValidateFn()" name="form1">
              {% csrf_token %}
              <p class="confirmation">New Password</p>
              <input type="password" style="border: 1px solid grey;border-radius:5px;" name="password1" required=""><br><br>
              <p class="confirmation">Confirm Password</p>
              <input type="password" style="border: 1px solid grey;border-radius:5px;" name="password2" required=""><br><br><br>
              <button type="submit" class="btn btn-outline-success"> Reset Password</button><br><br>
              <h4 style="color:red">{{error}}</h4>
          </form>
      </div>
  </div>
</div>

  <script>

      function ValidateFn(){
      x = document.form1.password1.value;
      y = document.form1.password2.value;
            if(x.length<8){
                alert("Password required at least 8 characters")
                return false
           }
}
  </script>
{% endblock %}