{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="card text-center mb-3" style="width: 650px;margin-left:400px;margin-top:150px;">
  <div class="card-body">
    <h5 class="card-title" style="color:brown"><u>FORGOT PASSWORD</u></h5><br>
    <p style="color:green">Confirm your email ID for resetting the password</p>
      <h4 style="color:red">{{error}}</h4>
      <div>
          <form method="post" action="{% url 'reset_verification' %}">
              {% csrf_token %}
              <p class="confirmation">Confirm email ID</p>
              <input type="email" style="border: 1px solid grey;border-radius:5px;" name="email" required=""><br><br><br>
              <button type="submit" class="btn btn-outline-primary"> send OTP</button><br><br>
          </form>
      </div>
  </div>
</div>
{% endblock %}